.modal-backdrop {
    z-index: -1;
}
.modal {
text-align: center;
padding: 0 !important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.home-textarea {
    width: 500px;
    height: 200px;
}
.about-textarea {
    width: 500px;
    height: 200px;
}
.service-textarea {
    width: 500px;
    height: 200px;
}